.hero {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
}

.gradientText {
  background: linear-gradient(90deg, #007bff, #ff4081);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.moveButton {
  border: none;
  
}


